*{
    font-family: Ubuntu;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sicons{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}
.sicons:hover{
  color: blueviolet;
}
.sicon-group{
    position: relative;
    top: 10px;
}
.herol h1{
  font-weight: 700;
  width: fit-content;
}
.contectus{
  border: 0px;
  padding: 5px 20px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #D9D9D9;
}
.ani-gif{
  position: relative;
  top: -100px;
  z-index: -1;
  width: 200px;
  right: -105px;
}
.animouse{
  display: flex;
  border: 0px;
}
.animouse img{
  justify-content: center;
  width: 320px; 
  border: 0px;
}
.about-sec{
  width: 100vw;
  padding-bottom: 10vh;
}
.heading{
  text-align: center;
  margin-bottom: 5vh;
}
.pr{
  position: relative;
}
.pa{
  position: absolute;
}
.vertor-box{
  width: 10vw;
  background-color: aqua;
  position: relative;
}
.vector-box img{
  position: absolute;
  width: 80%;
}
.downloadbtn{
padding: 1vw 2vw;
border: 0px;
border-radius: 1vw;
background: linear-gradient(#05E0C6, #526589A3);
}
.downloadbtn img{
  width:3vw;
  border-radius: 2vw;
}
.projects{
  margin-top: 100px;
}
.projects p{
  
  text-align: center;
  position: relative;
  top: -50px;
}
.img1{
  width: 40vw;
  position: relative;
}
.img2{
  width: 30vw;
  position: relative;
}
.img3{
  width: 41vw;
  position: relative;
}
.space{
  margin-bottom:5vw ;
}
.img4{
  position: relative;
  width: 45vw;
  right: 5vw;
  height: 20vw;
}
.img5{
  width: 30vw;
  position: relative;
}
.img6{
  width: 40vw;
  position: relative;
  top: -15vw;
  z-index: -1;
}
.df{
  display: flex;
}
.s-box{
  border: 1px solid black;
  width: 32vw;
  margin: 1vw;
  height: 35vw;
  border-radius: 3vw;
  background-color: black;
  color: white;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  
}
.services h1{
  font-size: 40px; font-weight: 700; text-align: center;
}
.s-box .title{
  text-align: center;
  font-size: 4vw;
  position: relative;
  top: 2vw;
  font-family: arial;
  font-weight: 900;
}

.v-box{
  display: flex;
  position: absolute;
  left: 5vw;
bottom: 1vw;
}
.v-box div p{
  font-size: 2.5vw;
}
.v-box div img{
  width: 3vw;
  position: relative;
  top: -1.3vw;
  left: 1.1vw;
}
.contactusr{
margin-top: 30vw;
}
.submit{
  position: relative;
  left: 2vw;
  bottom: 2vw;
}
.contactusr form input{
    border-radius: 3vw;
    margin: 2vw;
    padding: 1vw;
}
.icons{
  display: flex;
  justify-content: center;
  margin-top: 10vw;
}
.icons img{
  width: 10vw;
  margin: 3vw;
}
.footer{
  position: relative;
  height: 20vw;
}
.footer img{
  position: absolute;
}
.lfimg{
  left: 0px; bottom: -0px;
  height: 14vw;
}
.rfimg{
  right: 0px; bottom: 0px;
  height: 20vw;
}

