*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width:1728px;
}

header{
    width:1728px;
    /* background-color: pink; */
}

nav{
    display: flex;
}

.navleft{
    padding-top: 40px;
    padding-left: 112px;
    font-family: Arial;
    font-weight: 900;
    width: 200px;
}
.vanleft h1{
    font-size: ;
}

.navright{
    display: flex;
}
.links{
    width: 800px;
}
.links ul{
    display: flex;
    list-style: none;
    font-family: arial;
    font-weight: 700;
    justify-content: right;
    position: relative;
    top: 44px;
}
.links ul li{
    margin: 0px 61px;
}

.social{
width: 627px;
padding-top: 20px;
}

.social img{
    width: 65px;
    height: 65.2px;
}
.connectbtn{
    color: black;
     font-size: 18px;
     font-family: arial;
     font-weight: 400;
    background-color: #D9D9D9;
    padding: 18px 22px;
    border-radius: 10px;
    position: relative;
    bottom: 26px;
    left: 18px;
    border: 0px;
}
.hero{
    display: flex;
    padding-left: 120px;
}
.herol{
margin-top: 390px;
}
.herol{
color: black;
 font-size: 24px;
 font-family: Hannari;
 font-weight: 400;
 word-wrap: break-word
}
.herol h1{

color: black;
 font-size: 48px;
 font-family: Lexend;
 font-weight: 600;
 word-wrap: break-word
}
.herol .contectus{
    font-size: 16.56px;
    font-weight: 400;
    font-family: arial;
    color: black;
    padding: 24px 81px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}
.heror{
    width: 1050px;
    display: flex;
    justify-content: right;
}
.about{
    margin-top: 200px;
    height: 750px;
}
.about h1{
    font-size: 48px;
    font-weight: 700;
    font-family: arial;
}
.aboutl{
    width: 600px;
    position: relative;
    padding-left: 50px;
    padding-top: 50px;
    margin-left: 100px;
    /* background-color: aqua; */
    float: left;
}
.aboutl img{
    position: absolute;

}
.aboutr{
    /* background-color: blueviolet; */
    width: 900px;
    height: 600px;
    position: absolute;
    right: 10px;
}
.aboutr p{
    /* // Hi! I am Ankit yadav, a web designer/developer focused on crafting great web experiences. Designing and Coding have been my passion since the days I started working with computers but I found myself into web design/development since 2007. I enjoy creating beautifully designed, intuitive and functional websites. */
color: black;
 font-size: 24px;
 font-family: 'Lexend', sans-serif;
 font-weight: 400;
 line-height: 35.40px;
 word-wrap: break-word;
 margin-top:179px;
}
.animatedbtn{
  margin-top: 70px;
  width: 196px;
  height: 60px;
  position: relative;
  background:linear-gradient(45deg, #05E0C6, #526589A3);
  border-radius:10px ;
  border: 0px;
  
}
.animatedbtn img{
    position: absolute;
    border-radius:100% ;
    top: 10px;
    right: 10px;
}
.animatedbtn p{
    position: absolute;
    bottom:10px;
    font-size: 18px;
    font-weight: 400;
    left: 20px;
    color: white;
}
.projects{
    padding-left: 131px;
    /* background-color: aqua; */
}
.services{
    /* background-color: aqua; */
}
.services h1{
    text-align: center;
    color: black;
     font-size: 64px;
     font-family: Lexend;
     font-weight: 500;   
     margin-bottom: 187px;
}

.servicescon{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.contrainers{
width: 398px;
height: 471px;
background-color: rgb(81, 98, 98);
border-radius: 57px;
margin: 50px;
}
.contrainers span h1{
    color: white;
     font-size: 36px;
     font-family: Lexend;
     font-weight: 500;
     word-wrap: break-word;
     color: white;
     margin-top: 67px;
     text-align: center;
}
.contacusbox{
    margin-top: 330px;
    display: flex;
    background-color: rgba(0, 255, 255, 0);
}
.contactusl img{
    width: 688px;
    height: 529px;
    position: relative;
    left: 100px;
    top:20px;
    z-index: -1;
}
.contactusr form{
    /* background-color: #05E0C6; */
    text-align: center;
}
.contactusr form input{
    display: block;
    width: 486px;
    height: 74px;
    padding: 22px 48px;
    color: black;
    font-size: 24px;
    font-family: Lexend;
    font-weight: 500;
    margin: 12px 0px;
    /* border-image: linear-gradient(#f6b73c, #4d9f0c) 30; */
    border-width: 4px;
    border-style: solid;
    border-radius: 28px;


}
.icons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.icons img{
    width: 78px;
    height: 78px;
    margin: 20px;
}
.footer{
    position: relative;
    margin-top: 40px;
    background-color: #05E0C6;
}
.footer img{
    position: absolute;
}